rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Add other collection-level rules here as needed

    // Default rule to deny all other access
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
