.btn-outline-primary {
    --bs-btn-color: #8A8AC3;
    --bs-btn-border-color: #8A8AC3;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #8A8AC3;
    --bs-btn-hover-border-color: #8A8AC3;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #8A8AC3;
    --bs-btn-active-border-color: #8A8AC3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #8A8AC3;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #8A8AC3;
    --bs-gradient: none;
}