@media (max-width: 991px){
    .syrtta{
        display: none;

    }
    .ishinde{
        display: block;
    }
    .navbar-brand__syrtta{
        display: none;
    }
    .header__btns {
        display: flex;
        padding: 3px 6px;
        margin: 0;
    }
    .syrtta-login{
        margin: 0 0 0 15px !important;
        display: block;
    }
    .main-page__header {
        height: 50px;
    }
    .user-btn {
        width: 35px;
        height: 35px;
        font-size: 10px;
    }
    .navbar-toggler{
        display: block;
    }
}