@media (max-width: 991px) {
    .syrtta {
        display: none;

    }

    .ishinde-login {
        position: relative;
    }

    .ishinde {
        display: block;
    }

    .navbar-brand__syrtta {
        display: none;
    }

    .header__btns {
        display: flex;
        padding: 3px 6px;
        margin: 0;
    }

    .main-page__header {
        height: 50px;
    }

    .user-btn {
        width: 35px;
        height: 35px;
        font-size: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .btn.btn-outline-primary.ishinde.off {
        display: none;
    }
    .btn.btn-outline-primary.ishinde.ishinde-login.off{
        display: none;
    }
}

@media (max-width:460px){
    .youtube__input{
        width: 85%;
    }
}
@media(max-width: 380px){
    .email .fi-rr-envelope, .create__password .fi-rr-lock {
        left: 35px;
    }
}